/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Feb-2015, 17:48:58
    Author     : 
*/

ul li img:hover 
{
    -webkit-transform: scale(1.2,1.2) perspective(150px) rotatey(30deg);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2) translatey(-10px) perspective(150px) rotatey(30deg);
    /*-webkit-animation: bounce infinite;*/ 
}
ul li img:hover +span
{
    display: block;
/*    -webkit-transform:rotatey(30deg);
    transform: rotatey(30deg);*/
}
ul li img:active +span,
ul li img:active 
{  
    transform: translatey(-300px) perspective(0px) rotatey(-30deg);
    
}
