/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Feb-2015, 17:48:44
    Author     : 
*/

body
{
    background: url('../siteMaterial/background.jpg');
    background-opacity:80%;
    cursor: url('../siteMaterial/Cursor.png'),auto;
    color:white;
}
center
{
    margin: 0 auto;
    text-align:left;
    width:1300px;
    height:750px;
    /*border: solid;*/
}
#contentFrame 
{
    width:1000px;
    height:700px;
    background-color: lightgray;
    background-image: url("mask.png");
     background-repeat: repeat;
    border-radius: 10px;
    /*display:none;*/



    -webkit-mask-border-image: url("mask.png");
    -moz-mask-border-image: url("mask.png");
    -ms-mask-border-image: url("mask.png");
    -o-mask-border-image: url("mask.png");
    mask-border-image: url("mask.png");            





}















#menu
{
    position:fixed;
    bottom:50px;
    /*margin-left:50px;*/
}

ul li,
ul li img
{

    width: 100px;
    height: 75px;
    display:inline-block;
    float:left;
    list-style: none;
    border: solid thick white;
    position: relative;
    left:-50px;

    -webkit-transform: perspective(150px) rotatey(30deg);
    -moz-transform: perspective(150px) rotatey(30deg);
    -ms-transform: perspective(150px) rotatey(30deg);
    -o-transform: perspective(150px) rotatey(30deg);
    transform: perspective(150px) rotatey(30deg);   
}
ul li
{
    border:none;
}
ul li span
{
    display:none;
}
#gradient
{
    width:1300px;
    height:20px;
    position:fixed;
    bottom:0px;

    /*    background: -webkit-linear-gradient(#1A1A1A, #666666, #B2B2B2);
        background: -webkit-linear-gradient(#1A1A1A, #666666, #B2B2B2);
        background: -o-linear-gradient(#1A1A1A, #666666, #B2B2B2);
        background: -moz-linear-gradient(#1A1A1A, #666666, #B2B2B2);
        background: linear-gradient(#B2B2B2, #666666, #1A1A1A);*/


}


